body {
    font-family: sans-serif;
  }
  
  form {
    flex-direction: column;
  }
  
  label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    margin-right: 10px; /* Adjust spacing between checkbox and label text */
  }
  
  input[type="submit"] {
    width: 150px; /* Adjust width as desired */
  }

  .column {
    /* Set the width for each column */
    width: 20%;
    /* Allow columns to float next to each other */
    float: left;
    /* Add some margin for spacing between columns */
    margin: 10px;
    /* Remove default margins for checkboxes */
    margin-bottom: 0;
  }

  .column label {
    display: block; /* Make checkboxes behave like block elements */
    margin-bottom: 5px;  /* Add some space between checkboxes */
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }