body {
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
  }
  
  form {
    flex-direction: column;
  }
  
  label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  

  input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 3px; /* Adjust spacing between checkbox and label text */
  }
  
  input[type="submit"] {
    width: 150px; /* Adjust width as desired */
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
  }

  #submitButton{
    cursor: pointer;
  }
  .column {
    /* Set the width for each column */
    width: 18%;
    /* Allow columns to float next to each other */
    float: left;
    /* Add some margin for spacing between columns */
    margin: 10px;
    /* Remove default margins for checkboxes */
    margin-bottom: 0;
  }

  .column label {
    display: block; /* Make checkboxes behave like block elements */
    margin-bottom: 5px;  /* Add some space between checkboxes */
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* Media Query for iPhone screens (max-width: 480px) */
@media screen and (max-width: 580px) {
  .column {
      width: 100%;
      float: none;
      margin: 10px 0;
  }
}